<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>#KazzoProductCustomField# Settings</title>
        <title lang="de-DE">#KazzoProductCustomField# Einstellungen</title>
        <input-field type="int">
            <name>length</name>
            <label>Length</label>
            <label lang="de-DE">Länge</label>
	    	<label lang="pl-PL">Długość</label>
	    	<defaultValue>50</defaultValue>
        </input-field>	
    </card>
</config>