{% block sw_product_basic_form_content %}
    {% parent %}

    <sw-container columns="repeat(auto-fit, minmax(250px, 1fr))" gap="0px 30px">
        <sw-text-field label="Custom text" {# type="text" :value="{{ product.productCustomFieldExtension.value }}" #}></sw-text-field>
        <div><p>YYYYYYYYYYYYYYYYYYYYYYYY BASIC</p></div>
    </sw-container>
    
{% endblock %}